* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

/* NAV */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a:nth-child(1) {
    float: left;
    display: block;
    color: #424242;
    text-align: center;
    padding: 40px 0px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
}

.topnav a:nth-child(n+2):nth-child(-n+5) {
    float: right;
    display: block;
    color: #666666;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
}


/* Change the color of links on hover */
.topnav a:nth-child(n+2):nth-child(-n+5):hover {
    color: #f0ad41;
}

a:hover {
    text-decoration: none;
}

#about a {
    color: #424242;
    border-bottom: 1px dotted #f0ad41;
}

#about a:hover {
    color: #f0ad41;
}

#header {
    padding: 50px 0px 35px 0px;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 40px;
    color: #f0ad41;
}

h2 {
    padding-top: 40px;
    font-size: 16px;
    padding-bottom: 10px;
    color: #666666;
    font-family: 'Muli';
    font-weight: 500;
}
h3 {
    font-size: 16px;
}

p {
    line-height: 30px;
    color: #424242;
}

.social-media-links {
    color: grey;
    font-size: 20px;
}

.divider {
    font-size: 20px;
}

/* Media Query */
/* 
  When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
  Show the link that contains should open and close the topnav (.icon) 
*/
@media screen and (max-width: 641px) {
    .topnav a:nth-child(n+2):nth-child(-n+5) {
        display: none;
    }
    .wrapper {
        width: 85%;
    }

}

@media screen and (min-width: 700px) {
    html h1, html p, body h1, body p{
        max-width: 700px;
    }
    .sect-card-img img {
        width: 100%;
        margin-bottom: 0rem;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .card-wrapper-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .sect-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .sect-card .sect-card-img img {
        width: 80%;
    }

    .card-title-2 {
        margin-bottom: 1.5rem;
    }
}
